

* , *::before, *::after{
    box-sizing: border-box;
}

html {
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
img {
    display: block;
}

/*header*/
.header {
    display: flex;
    align-items: center;
    height: 70px;
    
}
.header-container  {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo{
    margin-right: 285px;
    margin-left: 140px;
}
.nav {
    margin-top: -4px;
    font-size: 14px;
    line-height: 1;
    color: rgba(31, 32, 65, 0.5);
}
.nav-link{
    margin-right: 20px;
    color: #18191f;
    text-decoration: none;
}
.nav-link:hover {
    color: #8c30f5;
}
.button{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}
.button-item1{
    margin-right: 20px;
    border-radius: 22px;
    color: rgba(188, 156, 255, 1);
    background-color: #ffffff;
    border-color: rgba(188, 156, 255, 1);
    width: 87px;
    height: 34px;
    
}
.button-item2{
    border-radius: 22px;
    width: 196px;
    height: 34px;
    background-color: rgba(188, 156, 255, 1);
    color: #ffffff; 
}
